.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  color: #fff;
  min-width: 8rem;
  border-radius: 0.875rem;
  outline: transparent;
  border: transparent;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.btn-primary {
  background-color: hsl(216, 58%, 40%);
}

.btn-primary:hover {
  background-color: hsl(213, 50%, 36%);
}

.btn-secondary {
  background-color: hsl(25, 77%, 55%);
}

.btn-secondary:hover {
  background-color: hsl(24, 69%, 48%);
}

.btn-warning {
  background-color: hsl(2, 80%, 41%);
}

.btn-warning:hover {
  background-color: hsl(4, 75%, 37%);
}
